<h1 align="center">Nieuwe Reactie</h1>
<form [formGroup]="reactie" (ngSubmit)="onSubmit()">
  <div class="form-group row mt-3 mb-3">
    <div class="col-10 offset-1">
      <textarea rows="10" class="form-control" formControlName="inhoud"></textarea>
    </div>
  </div>
  <br />
  <div align="center">
    <button type="submit" (click)="onSubmit()" class="btn btn-primary mr-5">
      <span class="glyphicon glyphicon-ok"></span> Reageer
    </button>
    <button type="button" (click)="annuleer()" class="btn btn-danger ml-5">
      <span class="glyphicon glyphicon-remove"></span> Annuleer
    </button>
  </div>
</form>
